[2017-11-13 02:49] zer09 opened #4 "Scrollbar suggestion"
Add more contrast on scrollbar "bar" when the mouse is hovered on the scrollbar area.
Because you cant "barely" see the scrollbar unless you hit the exact position of it.

Thanks.

[2017-11-16 22:50] jdinhlife commented on #4
Currently, when you hover over the small bar, it'll be highlighted. I'm thinking what you're suggesting is doing the same when hovering over the whole scrollbar area?

[2017-11-17 03:21] zer09 commented on #4
Yeah, you're right. Sometimes on a long documents, I can't spot the small bar easily.

[2017-11-17 11:16] jdinhify commented on #4
Cool, I just had a look and there's no option to change the slider on hovering over the whole scrollbar area.
However, I agree with what you suggest though, making that a bit more visible would be helpful, so I'll make the default slider background brighter regardless of whether it's being hovered over or not, hope that would help.

[2017-11-17 11:38] zer09 commented on #4
Thanks, I will appreciate that so much. Actually I tried many themes just because of that, but I am still coming back to your theme.

[2017-11-17 11:42] jdinhify commented on #4
Thanks, I didn't need to use the scrollbar much to realise the issue.

Anyway, the change is done in 0e1691d.

Your vscode should be able to update the extension now. Please try it and let me know what you think

[2017-11-17 11:48] zer09 commented on #4
WOW that's quick. I already update it, and I like it.

Thank you so much.

[2017-11-17 11:48] #4 closed

[2017-11-18 14:36] sgon00 opened #5 "Is that possible to use other colors instead of red for types?"
Hi, first, thank you very much for your hard work. I really like vim's gruvbox color scheme. I just installed and tried gruvbox in vscode today. I found out it used red colors for type. In the original vim's gruvbox scheme, it's not using red color for types. I just don't like too many red colors,

* you can see there are too many red colors in the following two screenshots:

![vscode-1](https://u

[2017-11-18 14:54] sgon00 commented on #5
I fall in love with vim's gruvbox scheme. I tried many different gruvbox themes in vscode and I always feel something are very different and can not tell why. After I posted the above question (suggestion), I just found another problem. I found out the vim's gruvbox's white color is NOT really white. But this vscode's theme is truely white:

![compare](https://user-images.githubusercontent.com/155

[2017-11-18 22:58] jdinhify commented on #5
Thanks @sgon00 , would you mind letting me know which language are you using? Is that golang?
It'd be great if you could provide me an example of a complete file using that language (to showcase possible syntax highlighting), so that I can put into [code-examples](https://github.com/jdinhify/vscode-theme-gruvbox/tree/master/code-examples) for future contributor to preview.

After having the langua

[2017-11-19 00:58] jdinhify commented on #5
The foreground color has now been changed, your vscode should be able to upgrade.

CC @3ximus so that you're aware of the foreground color change

[2017-11-19 01:43] sgon00 commented on #5
Dear @jdinhify, thank you very much for your time and quick help. Yeah, I am using `golang`. The file I am using is https://github.com/dgraph-io/badger/blob/master/transaction.go . (I just randomly picked that one. )

Btw, I am new to vscode. I tried to update the extension to the latest version to see the foreground color change, but failed with the normal way. There was no "update" button in the

[2017-11-19 03:29] 3ximus commented on #5
@sgon00 if that didn't work you should clone elsewhere and move the cloned repo, overwriting the needed files

[2017-11-19 04:34] jdinhify commented on #5
Thanks @3ximus .

@sgon00 hmmm, I don't feel like cloning the repo manually gonna work since you'll want the auto-upgrade ability instead of going to the cloned repo and manually pulling every time.
I'm not sure how to help you with that though, if you install the extension using vscode's UI (extensions tab), it should be upgraded automatically unless you turned it off.
Maybe just do what you're d

[2017-11-19 05:16] sgon00 commented on #5
@3ximus, thanks a lot for the advice.

@jdinhify,
(1) Regarding vscode ext management: vscode is not trying to reinstall the extension after I `rm -rf`. I never turned off the auo-update feature, actually I don't know how to since I am really new to vscode. :) I am running vscode 1.17.2-1 in archlinux and upgrading to 1.18.1-1 now. Hopefully the problem will be fixed in the new version. I have a s

[2017-11-19 06:27] sgon00 commented on #5
Update: after upgrading to vscode 1.18.1, extensions can be auto-updated to latest versions. so the problem is fixed now. Cheers.

[2017-11-19 09:07] jdinhify commented on #5
@sgon00 new version published, your vscode should be able to update to the latest one, then you can enjoy the new highlighting.

Everything is not bold, maybe just because I'm using a big font size or maybe the antialiasing makes them look bold.

[2017-11-19 09:28] sgon00 commented on #5
@jdinhify , yeah, I updated to the latest version. It looks amazing! The best gruvbox theme in vscode. Thank you very much for the quick fix and kind help. Closing this issue.

[2017-11-19 09:28] #5 closed

[2018-01-28 21:23] josebalius opened #6 "Any plans for a light version?"
Are there any plans to do a light version?

[2018-01-28 22:55] jdinhify commented on #6
Thanks Jose. I did have different versions in mind, but never got time around to try the light version and make one variant for it. Also I'm not using light version full time so I might not be the best one to implement it.
The thing I had in mind was just replacing the dark colors with their corresponding light colors and hope it'll turn out alright.

Perhaps I can draft up something on the weeken

[2018-02-04 22:28] jdinhify commented on #6
New version published with my rough draft of light versions. Please try them and let me know if there's any suggestion, or if you want to contribute.

Thank you!

[2018-02-04 22:28] #6 closed

[2018-02-04 23:09] josebalius commented on #6
@jdinhify I will take it for a spin this week, thank you!!!

[2018-02-05 14:56] josebalius commented on #6
@jdinhify So far it looks perfect, thank you again. Noticed that its missing the background color for non-selected tabs.

Here is a screenshot, I can submit a PR but not sure which setting in vscode controls this:

<img width="439" alt="screen shot 2018-02-05 at 9 50 49 am" src="https://user-images.githubusercontent.com/339080/35810740-b373c484-0a5a-11e8-9337-f7a9e07c5ebb.png">

[2018-02-05 22:31] jdinhify commented on #6
Thanks @josebalius , I noticed that too but wasn't sure which setting either, I'll have a look into vscode doco and fix it when I have time. But of course, if you found the setting and could submit a PR, it'd be great.

[2018-06-07 23:38] im-n1 opened #7 "Italic for params"
Hi,

I'm here to contribute...sort of :) I would like to add a feature from my previous theme - params being written by italics style.

Here is the code which does thie trick in theme json file.

[code]

The think is I would like to put a new directive to settings to enable that feature. Something like `gruvbox.params.italics = true`. But I have no idea how to do that.

Any ideas? Is that even pos

[2018-06-10 11:09] jdinhify commented on #7
It's a great idea. I don't know if it's possible, but when I have time, I'll look into it.

Thanks for the idea @grafa

[2018-06-17 03:28] jdinhify commented on #7
There's an open issue with vscode on this https://github.com/Microsoft/vscode/issues/32579, doesn't look like there's a font configuration option for now. We can only do that using user settings or (possibly) duplicate the font with variants (eg. Gruvbox Dark Medium - italic, bold, etc...) but it's not really ideal considering this has 6 color variants already. I'll keep an eye on the issue on vsc

[2018-07-13 04:45] subhammridha opened #8 "Integrated terminal border not visible"
Thank you for porting the gruvbox theme to vs code.

One problem with this theme is that the integrated terminal top border is not shown. This is causing heavy confusion while typing since I am unable to understand whether terminal is open on top a file when suddenly switching to vscode (,say, from a browser).

If possible, kindly rectify this.

[2018-07-13 05:13] jdinhify commented on #8
Sure, I don't use built-in terminal much so didn't notice the issue. Will put in something quickly

[2018-07-13 21:05] jdinhify commented on #8
This is included in the latest release

[2018-07-13 21:05] #8 closed

[2018-10-30 09:54] JonasGruenwald opened #11 "Theme only applies to code edtior (not status bar or background of sidebar/tabs)"
Not sure if I'm doing something wrong, but unlike on the screenshots here, the theme only applies to the code editor for me, all other colors stay the default light/dark.

I'm setting the theme with the command 'Preferences: Color Theme', do I need to do something else to have it apply globally?

[2018-10-30 22:20] jdinhify commented on #11
I'm not sure what's wrong, but let's try to look into this.

Do you have any other extension that's affecting the workbench?

Could you show your full `settings.json` (for both user & workplace) so that I could have a look.

[2018-10-30 22:55] JonasGruenwald commented on #11
Hi, thanks for taking the time to reply!

My user settings.json:
[code]

The workspace settings are empty.
I just disabled all other extensions and reloaded, no change.

Maybe I should have mentioned: I'm not using the Microsoft binary release of vscode, I am building from source according to their instructions, I just built it from the master of https://github.com/Microsoft/vscode again to make s

[2018-10-30 23:29] JonasGruenwald commented on #11
Ohh man I feel stupid now, I had installed the wrong one indeed.
Thanks for your work on this extension, looks really good!

[2018-10-30 23:29] #11 closed

[2019-02-26 09:42] layoaster opened #15 "Tabs/tabs Bar colors and StatusBar border"
Thanks for creating this theme!. I have a proposal regarding the tabs part of the interface. I use the **Dark - Medium** contrast so the proposed modifications must be tested with this contrast.

[code]

My motivation was that I didn't like that every other element of the interface blends in with the same background color except for the tabs. Also, I added line border (lighter color) to visually d

[2019-02-26 22:57] jdinhify commented on #15
This is very nice. Thanks @layoaster
Could I suggest that we don't set the `tab.unfocusedActiveBorder`? As it will be easier to differentiate the focused and unfocused ones.

Are you comfortable making a PR for this? It would mean that you would do it for all 6 variants. If not, I'm happy to do it.

[2019-02-27 09:26] layoaster commented on #15
Sure! It makes sense to leave `tab.unfocusedActiveBorder` unset.  I'll make the necessary modifications to the other variants to open a PR.

[2019-02-27 11:31] layoaster commented on #15
I found that for light themes the green color of the `tab.activeBorder` don't highlight as much as it does on dark themes so I switched to orange (#d65d0e) but that breaks with general accent color of the light themes (green) so it kind of force me to also modify the following (light themes only):
[code]

So there is a decision to be made from the following choices:

1. Stick with the green.
2. Go

[2019-02-27 14:25] Shoizz opened #17 "`this` keyword don't have highlighting"
![image](https://user-images.githubusercontent.com/944858/53496963-cdea1700-3aab-11e9-85e6-2f04612e2ccf.png)
It would be nicer to have it in a different color e.g red or something.

[2019-02-28 00:28] jdinhify commented on #15
I agree the green isn't highlighting much on the light theme, and the orange for the light theme actually looks great. Let's go with it.

`list.[in]activeSelectionForeground` is looking good as well, what are those `pending elements`?

[2019-02-28 02:10] jdinhify commented on #17
What programming language is this @Shoizz, and what language syntax highlighting is being displayed as (look at the editor's bottom right)?

This looks like javascript, but I think javascript `this` is already highlighted with a different colour
![screen shot 2019-02-28 at 1 07 37 pm](https://user-images.githubusercontent.com/14046273/53536342-24ae2a00-3b5a-11e9-94ce-dd9a768b0cd7.png)

[2019-02-28 08:14] Shoizz commented on #17
@jdinhify Sorry didn't mention it. It's Typescript.

[2019-02-28 09:50] layoaster commented on #15
Never done a theme myself so I can't tell you exactly what might be typically subject of being colored with the "theme accent" but doing a quick search for things colored with `#689d6a` I found the `scrollbarSlider.activeBackground` might have to be changed.

Nevertheless, I think further modifications fall out of the scope of this issue/PR

[2019-02-28 22:24] jdinhify commented on #15
PR has been merged & deployed. Thanks @layoaster

[2019-02-28 22:24] #15 closed

[2019-02-28 23:07] jdinhify commented on #17
typescript `this` should now be highlighted with the latest extension version

[2019-02-28 23:07] #17 closed

[2019-05-20 20:44] JavierReyes945 opened #18 "Small adjustments to the workbench elements not covered"
Hi, thanks for this amazing theme. I have used previously a base16 derivate theme for almost a year now, until last week when I discover this nice color scheme.

I am using dark hard and medium (to differentiate code and insiders), and only wish the theme would cover some workbench elements that still look default (a.k.a. the icons in the top right of an open editor, the top right icons of the pro

[2019-05-21 00:29] jdinhify commented on #18
Thanks Javier, it's a good idea.
However, from a quick look at the docs and a few tries, I'm not sure if we can change the colour of those icons, especially when new icons are added when new extensions installed.

If you know of a theme that does it, we can use it as a reference to try figuring out how.

[2019-05-29 13:02] nicentra opened #19 "Almost no LaTeX keywords are being highlighted"
I just found this theme, it's amazing, a lot better than your [competitors Gruvbox Theme](https://marketplace.visualstudio.com/items?itemName=tomphilbin.gruvbox-themes) (he misses like most of the UI themeing) however I noticed yours doesn't really highlight LaTeX, see screenshot below of a dummy file.

![image](https://user-images.githubusercontent.com/20487548/58558640-ac6f0780-8221-11e9-84d7-75

[2019-05-29 14:02] nicentra commented on #19
I spliced the theme a bit on my own via my vscode setting adding the following settings:
[code]
I honestly don't know if that catches all of it but I don't really know what I'm looking since my 5mins of google didn't turn up any nice API explaining to me what namespace belongs to what

[2019-05-30 06:38] jdinhify commented on #19
Thanks @nicentra.

I can't remember which script I used for the screenshot, but there're similar ones out there, for instance: https://github.com/pablopunk/colortest

Back on the theme.
Would you be able to contribute to this theme for LaTeX? I'm not using it so not sure if I know what to customise.
I you want to contribute, you can make the theme work to your liking for starter.

There's a few op

[2019-05-30 09:17] nicentra commented on #19
Hey @jdinhify I can certainly try, though admittedly I don't have a lot of time rn since I actually found this loophole because I am currently writting my bachelor thesis. However with the Developer Inspect it should go a lot faster. Do you have any color guide? e.g. Functions = this color, variables = this color, keywords = that, parameters = this?

[2019-06-02 23:22] jdinhify commented on #19
I don't really have a color guide, just do what you see fit your taste I think. I think generally there are some common things like green for string, yellow for function, red for keywords, blue for parameters, but they're probably not the same for every language atm.

What I usually do is to pull the repo into `~/.vscode/extensions` folder, that way it'll automatically appear in your extension lis

[2019-08-01 11:44] ChrisLee63 opened #20 "Peekview keyword has no highlight group."
![image](https://user-images.githubusercontent.com/39628662/62290731-a05b2c80-b494-11e9-9c9b-44e74911a5eb.png)
Now it's default ugly red.

[2019-08-02 07:18] jdinhify commented on #20
Thanks for reporting this @ppnman 👌
I don't use peekView often though, so not sure what would be the best background, would you be able to suggest a colour?

[2019-08-02 07:31] ppnman commented on #20
![image](https://user-images.githubusercontent.com/39628662/62352161-0f3e9100-b53a-11e9-8793-9e72c4c13ed1.png)
What do you think of the color(#ac6913) ?
![image](https://user-images.githubusercontent.com/39628662/62352304-68a6c000-b53a-11e9-9e45-c17773c44b4b.png)
Or this(#23395C)?
Or you can reference other colortheme.
BTW, your gruvbox colorscheme is great, I love it!

[2019-08-02 07:39] ppnman commented on #20
BTW, I suggest that the foreground of the item seleceted should be lighter than other entries.
Like this:
(Solarized Dark)
![image](https://user-images.githubusercontent.com/39628662/62352660-45c8db80-b53b-11e9-9332-1c77f747f6a3.png)
Now it is darker than other entries.
(Gruvbox Medium)
![image](https://user-images.githubusercontent.com/39628662/62352723-727cf300-b53b-11e9-816c-5c8ab4cbeede.png)

[2019-08-02 07:45] ppnman commented on #20
So the final effect is:
![image](https://user-images.githubusercontent.com/39628662/62353079-588fe000-b53c-11e9-9567-9cec3a68ed2b.png)

[code]

[2019-08-03 04:11] jdinhify commented on #20
thanks @ppnman, the color look cool, but I think it's better to stick with the colors in gruvbox palette, would you be able to give the colors.txt a try https://github.com/jdinhify/vscode-theme-gruvbox/blob/master/colors.txt

try
[code]

note that you can use 2 chars (00 -> ff) after the color code to specify the alpha, eg. `#fe801980` is the orange 2 in `colors.txt` (`fe8019`) with `80` as alpha

[2019-08-05 03:14] ppnman commented on #20
@jdinhify Very good, I like it.
![image](https://user-images.githubusercontent.com/39628662/62436441-3aabc080-b772-11e9-9dbe-a41c5b6536c7.png)

[2019-08-05 04:21] jdinhify commented on #20
Thanks @ppnman , would you be able to submit a PR for it? I'm happy to do it if you can't.

It'd be great if you can do for other variants, but no pressure, I can have a follow up commit to address other variants

[2019-08-08 07:52] ppnman commented on #20
@jdinhify
I am really sorry that I just read your response. There are so many things going on there days so that I have no time to browse GitHub.
Of course, I am glad to submit a PR for it. But maybe it takes one week to finish it because I need to consider what color is better in light colorscheme.

[2019-08-09 01:25] jdinhify commented on #20
That's alright @ppnman , please take as much time as you need.

Thank you

[2019-09-26 08:40] nkint opened #21 "[Minor customization][Help wanted] Selecction color"
Hi!

I love this theme for VSCode but I wanto to change the background selection color (it is the same color of the scrollbar).
See images and the dark blue (`color` selection in the first image and `encodeurl` in the second image):
![image](https://user-images.githubusercontent.com/609314/65672500-7c0d6d80-e049-11e9-998f-88292201b389.png)
![image](https://user-images.githubusercontent.com/609314/

[2019-09-30 05:40] jdinhify commented on #21
Thanks @nkint , there should be some tokens to set it. I'll have a look later.

This one is probably similar to the other issue https://github.com/jdinhify/vscode-theme-gruvbox/issues/20#issuecomment-518070753

[2019-09-30 05:50] jdinhify commented on #21
Also @nkint , could you please check if you're using the right extension (it does look like you're using a different one in your screenshot)? My editor is showing different colour:

<img width="315" alt="Screen Shot 2019-09-30 at 3 47 21 pm" src="https://user-images.githubusercontent.com/14046273/65852544-cc623380-e399-11e9-9560-0773bddba8d1.png">

The extension of this repo is https://marketplace

[2019-10-01 14:15] nkint commented on #21
Ok thanks, resolved!

[2019-10-01 14:15] #21 closed

[2019-10-29 13:42] JavierReyes945 commented on #18
Apparently VSCode now allow the theming to include those icons ([see here](https://github.com/microsoft/vscode/issues/74155#issuecomment-535587887)). It might be worth to re-open and consider this?

[2019-10-31 23:31] jdinhify commented on #18
Thanks @JavierReyes945
This issue was never closed, it's just blocked since the functionalities weren't there.

I checked and at the point of writing this message, I can only see `icon.foreground` as an option in the config, not `icon.default`.
I'm happy to unblock this one and use just `icon.foreground`, but there's a few icons that aren't changed (such as git's refresh & commit icons)

Would you

[2019-11-12 19:10] JavierReyes945 commented on #18
I can give it a try, for the fun of doing something new... As I am not really trained in JS (I'm an embedded developer), but it should not be that hard to figure it out (what's life without hobbies like editor ricing/theming?).

[2019-11-13 03:51] jdinhify commented on #18
That's awesome, thanks @JavierReyes945 .

Please do let me know if you don't have the time capacity to commit though. I'm more than happy to try and implement this if you're busy and not able to play around.

[2020-04-16 06:03] ChrisLee63 commented on #20
I am sorry to close the issue because I don't use vscode anymore.
BTW, both the plugin and author are great.

[2020-04-16 06:03] #20 closed

[2020-09-15 20:33] Paiusco opened #26 "Differentiate private members from local variables"
Even liking gruvbox a lot, I find it annoying that it doesn't differentiate private variables from local and function-parameters at least colour-wise. Wouldn't that be a good idea? :) (I'm using C++ and miss it)

As you can see on Monokai theme, it has a special color and put it on italic for function parameters:

![image](https://user-images.githubusercontent.com/2374887/93261143-b4d1b580-f778-11

[2020-09-20 22:29] erenhatirnaz opened #27 "Publish extensions to open-vsx"
I'm a [VS Codium](https://github.com/VSCodium/vscodium) user, a FLOSS version of VS Code, it's the same code but without the Microsoft's telemetry and branding.
I want to request if possible to add the _Gruvbox Theme_ extension on the [open-vsx.org](https://open-vsx.org/) market to us doesn't need to works with the Microsoft marketplace as is unclear if it's legal to use it on VS Code forks, see [

[2020-10-15 00:19] huyhoang8398 opened #28 "No extension found"

[2020-10-15 13:20] huyhoang8398 commented on #28
https://bugs.archlinux.org/task/68236

[2020-10-15 13:20] #28 closed

[2020-10-18 23:32] jdinhify commented on #27
Thanks @erenhatirnaz
I'm happy to publish the theme to open-vsx.org. Is there anything I need to be aware of, such as licensing, ownership, etc...?

I'm not familiar with the market so it will take some time to set up

[2020-10-18 23:44] jdinhify commented on #26
Thanks @Paiusco

I'm not entirely sure what you're proposing. Could you please have a side-by-side comparison photo or something?

We can scope the highlighting to specific language, so we can introduce this change for C++ only if you think that'd help C++ dev.

[2020-10-19 08:24] erenhatirnaz commented on #27
I'm not quite sure, but you may need to add [a FLOSS license](https://www.gnu.org/licenses/license-list.html). Perhaps this page will help you about ownership: https://github.com/eclipse/openvsx/wiki/Namespace-Access.

[2020-11-24 13:09] capt-pyro opened #29 "support for Jupyter Notebook cells"
Gruvbox can apply the theme to a jupyter notebook in vscode. However, it doesn't apply a contrast to the cell block, making it hard to differentiate it from the background.
![jupyter-gruvbox](https://user-images.githubusercontent.com/26868482/100098558-a5a56d00-2e77-11eb-9645-624f1ce289ea.png)
Adding a contrast to the **cell block** and the **output block** would be helpful

[2021-01-05 19:37] dziku86 opened #30 "JavaScript syntax highlighting color improvements"
Language: **JavaScript**
<br>
**It would be super nice to color-wise distinguish things like:**

Syntax to improve | E.g., API | E.g., Screenshot
--|-|-
 `variable`.`property ` |  `Node.parentElement` | ![image](https://user-images.githubusercontent.com/56586404/103682452-339d6900-4f89-11eb-8e2b-34ff80ff09ac.png)
`variable`.`property`.`string` | `HTMLOrForeignElement.dataset.DOMStringMap` | ![imag

[2021-01-07 11:25] jdinhify commented on #29
Thanks @capt-pyro .
I'm not familiar with jupyter notebook, could you please have a code example somewhere that I can use to have a look?
Also steps by steps to get to the "cell block" view would be appreciated, such as what extensions to install, how to trigger the "cell block", etc...

[2021-01-07 11:46] jdinhify commented on #30
Thanks @dziku86 , I think I get what you meant. However, there's a few issues that we might need to think more about:

1. The syntax highlighting of vscode doesn't seem to provide much difference between stuff like `variable`.`property`.`string` in your suggestion. Or at least I haven't been able to get any difference using some of the sample codes that I have. Note that we're relying on the `Edit

[2021-01-07 13:33] dziku86 commented on #30
@jdinhify thank you for breaking this down. Sadly I was expecting that this can't be done (easily).
My main objective is to **distinguish user defined code (variables, etc.) and programming language syntax**.
Even *italic font style* would be sufficient to achieve this goal.

[2021-01-08 10:38] capt-pyro commented on #29
Sure no problem.

The extensions required are Jupyter by Microsoft and the python language server (Pylance).

A dummy code example can be found here. (https://colab.research.google.com/github/aymericdamien/TensorFlow-Examples/blob/master/notebooks/3_NeuralNetworks/convolutional_network.ipynb)

Open it and view it under the default dark vscode theme. There is color difference between the input text

[2021-01-08 18:47] #30 closed

[2021-02-21 19:42] jeffteixeira opened #31 "Publish the theme in Open VSX Registry"
This theme can only be installed on VSCode. In Code-OSS and VSCodium, when searching in the extensions tab, it does not appear. Publishing it on [Open VSX Registry](https://open-vsx.org), it would be possible to install it on VSCodium and Code-OSS.

[2021-02-22 02:09] hk-32 opened #32 "Does the font displayed come with it or do we have to manually download it?"
Hey, sorry lol I know issues isn't the best place to ask questions but just wanted to know what the name of the font displayed in the images is called.

https://raw.githubusercontent.com/jdinhify/vscode-theme-gruvbox/master/images/screenshots.jpg

[2021-02-23 03:04] jdinhify commented on #32
Hey @hk-32

I'm not using that font anymore, but if I remember correctly, it should be Inconsolata: https://fonts.google.com/specimen/Inconsolata

I'm now trying out another font called MonoLisa (https://www.monolisa.dev/) if you're interested

[2021-02-23 03:04] #32 closed

[2021-04-15 13:55] bdeshi opened #34 "diff view lines mis-aligned"
Default dark:
![image](https://user-images.githubusercontent.com/3525376/114880983-6676b900-9e24-11eb-96a9-59547a4f644c.png)

gruvbox (dark medium)
![image](https://user-images.githubusercontent.com/3525376/114880914-54951600-9e24-11eb-84b3-c3a68ce1143b.png)

[2021-04-22 19:28] Paiusco commented on #26
I actually think that would help any OO language

Take a look into this example:
[code]

**Here!!!** : How does one know, by gruvbox colours which `int` is a class member and which isn't??
My project nowadays uses Hungarian notation for member variables (`m_`), e.g. in my example `internal_int` would necessarily become `m_internal_int`. Which IMHO seems good enough, however, error prone even. Mean

[2021-04-22 23:31] jdinhify commented on #26
Thanks @Paiusco , I'm happy to accept what would help. Do you have time to work on a PR ? It'd be helpful to include some screenshots before & after the change.

If you think you can target other languages, that's fine, just please make sure that the changes won't completely modify the views. There's a few code examples in this repo, feel free to use to test & add more if needed.

[2021-05-08 05:34] jdinhify commented on #31
Thanks @jeffteixeira , this has now been published on open-vsx https://open-vsx.org/extension/jdinhlife/gruvbox

[2021-05-08 05:34] #31 closed

[2021-05-08 05:34] jdinhify commented on #27
Thanks @erenhatirnaz , this has now been published on open-vsx https://open-vsx.org/extension/jdinhlife/gruvbox

[2021-05-08 05:34] #27 closed

[2021-05-09 19:53] jeffteixeira commented on #31
Thanks @jdinhify :)

[2021-05-12 13:38] prokolyvakis opened #36 "Variant closer to vim's gruvbox theme"
First of all, thanks for your amazing work!

I would like to ask whether is possible to add a variant which is closer to the colour scheme of [vim's gruvbox theme](https://github.com/morhetz/gruvbox).

Thanks in advance!

[2021-06-18 07:50] jdinhify commented on #36
Hi @prokolyvakis ,
Thanks for taking time to open this.

Could you please elaborate on the "closeness" to the vim colour scheme? Is this about the colour accuracy, or syntax highlighting, or anything else?

Maybe a bit of background - the starting intention of this theme was to match as much as I could from the original vim theme, but there were some factors that made it not possible (with my time

[2021-07-04 14:11] prokolyvakis commented on #36
Hello, thank you a lot for your reply. First of all, I have to apologize for the vague "closer to the colour scheme". Using the theme the last month, I have to admit that the colour scheme is amazingly close to the gruvbox and the user experience in VS code is amazing. So thank you for your hard work! :)

The major difference that I managed to notice is only the background colour which is basicall

[2021-08-27 16:33] pattrickrice opened #41 "Contrast on bottom bar in light mode"
Pretty much all variants do black text on dark grey which is pretty frustrating to try to read

<img width="1392" alt="Screen Shot 2021-08-27 at 9 22 04 AM" src="https://user-images.githubusercontent.com/20763171/131159536-6352ab87-9054-40fd-bcde-57e3e52de44b.png">

Compare to Light (Visual Studio) theme
<img width="1220" alt="Screen Shot 2021-08-27 at 9 32 18 AM" src="https://user-images.githubus

[2021-09-04 13:37] jdinhify commented on #36
Hey @prokolyvakis ,
Apologies for the late reply 🙏

I have checked with vim and can confirm that the background colour in vim by default isn't displayed exactly as the colour specified by gruvbox. The reason is that vim seems to use terminal colours by default, and displaying colours slightly different from the colours provided by the theme.

When using vim with terminals like iTerm or Hyper, I ha

[2021-09-04 13:50] jdinhify commented on #41
Hi @pattrickrice

The status bar should have the theme's colours, please see screenshot for mine

<img width="1280" alt="vscode-status-bar" src="https://user-images.githubusercontent.com/14046273/132096708-950be3ad-05cf-43d2-8fdd-668479aaf1c6.png">

Could you please confirm that you're using the correct theme as there's a few gruvbox ones in the marketplace. The theme from this repo is https://mar

[2021-09-04 23:14] #34 closed

[2021-09-05 00:34] jdinhify commented on #34
:tada: This issue has been resolved in version 1.5.1 :tada:

The release is available on [GitHub release](https://github.com/jdinhify/vscode-theme-gruvbox/releases/tag/v1.5.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-05 07:14] tauin opened #43 "Bracket pair colouriser support"
vscode recently introduced `editor.bracketPairColorization.enabled` as an option (check [this update](https://code.visualstudio.com/updates/v1_59#_extended-theme-customization-syntax))

these can be customised with the settings `editorBracketHighlight.foregroundx` with the trailing x being replace by the numbers 1-6 and `editorBracketHighlight.unexpectedBracket.foreground` for singular brackets no

[2021-09-07 18:25] pattrickrice commented on #41
Well, I don't know how it got set, but I found this setting in my user settings that turned out to be the fault. Apologies for the false report!

[code]

[2021-09-07 18:25] #41 closed

[2021-10-05 22:26] jdinhify commented on #43
Thanks @tauin

I'm curious what sort of colours would you use. Obviously they should be in the gruvbox palette (https://github.com/morhetz/gruvbox), but the question is more about the brightness: if you're using dark mode, would you use the same or darker colours for the brackets?

[2021-11-09 18:59] rpbaptist opened #46 "Add git decoration colors for tab labels"
I might open a PR for this myself, but it takes some sorting out with all the theme variances.

I see there's a number of implemented properties already, but I notice some of the tab decorations stand out since they fall back to the default colors.

This this is the full list of [git decoration colors](https://code.visualstudio.com/api/references/theme-color#git-colors)

[2021-12-01 10:30] jheuel commented on #29
I added the following to my vscode user settings to add a little bit more contrast:

[code]

[2021-12-05 13:31] prokolyvakis commented on #36
Hello, I truly apologize for the late response but somehow I did not see the notification of your reply. This is exactly what I was referring to, but I was not able to understand which was the factor that led to different colours!

[2021-12-06 01:09] jdinhify commented on #36
Thanks for confirming @prokolyvakis

I think turning off vim's `guicolors` makes the palette becomes a totally different thing, thus we won't be making change to this theme as it's referring to the true colours specified in gruvbox's colour palette.
I'll close this issue for now, but let me know if you have further advices/thoughts.

[2021-12-06 01:09] #36 closed

[2021-12-06 01:15] jdinhify commented on #46
Thanks @rpbaptist

Would you be able to open a PR? If not, I'm happy to have a look when I sort out some time.

[2021-12-10 21:06] Paiusco commented on #26
Sorry for the long delay on this.
I've started to play around those issues, as I don't have a good knowledge on JS, it took me a while to realise that it's not a matter of changing colours.

So here is a Monokai scope of a class member variable:
![monokai-scopes](https://user-images.githubusercontent.com/2374887/145641102-5015acb3-86b6-4e18-93fb-b5e8b63d1d75.jpg)

and gruvbox:
![gruvbox-scopes](ht

[2021-12-16 14:49] dulhaver opened #48 "different background colour for Terminal"
I am using Gruvbox Dark Soft thems and believe it would be very nice to have a slightly different background colour for the Terminal then the editor window.

Nothing crazy, just slightly less/more saturation/brightness in the Terminal then the Editor, so the eyes have a little help grasping what's what.

[2022-01-25 23:59] mfeif opened #50 "Causes two App instances / icons to run on MacOS 11.6"
Issue Type: <b>Bug</b>

Just install :-)

Extension version: 1.5.1
VS Code version: Code 1.63.2 (899d46d82c4c95423fb7e10e68eba52050e30ba3, 2021-12-15T09:37:28.172Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz (8 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<

[2022-05-01 08:10] kv2367 opened #53 "For What type of outputs could I see something similar to the Screenshots attached in the homepage?"
# Any kind of help is greatly appreciated

I installed **Gruvbox-Monokai-pycharm** on my Mac VSCode but, I'm unable to see the graphics colors as the developer shared in the screenshots.

Are there any sample command examples which I could run to see the output with the graphic colors as in the below screenshots?

## Screenshots
https://github.com/jdinhify/vscode-theme-gruvbox#screenshots

[2022-05-17 07:55] Tuuuukka commented on #43
I've been using these for the `Gruvbox Dark Medium` for a while now:

[code]
![image](https://user-images.githubusercontent.com/10988493/168758404-84b02ccc-9814-4d8e-b6b2-875f292cf8cf.png)

Don't know if they're perfect, but working ok for me (I do mostly JS, TS, and PHP). What @jdinhify said about the brightness is something to consider. If the palette would have even brighter colors than these,

[2022-05-29 12:22] shpigunov commented on #43
Here is my proposal. #54 You can read the reasoning behind specific decisions in the PR. I will be happy to answer any questions.

[2022-05-31 23:30] jdinhify commented on #53
Hey @kv2367

Is https://raw.githubusercontent.com/mikker/dotfiles/master/bin/colortest.sh what you're looking for?

it can be run in the terminal like this

[code]

[2022-05-31 23:32] jdinhify commented on #43
Merged & deployed #54

[2022-05-31 23:32] #43 closed

[2022-05-31 23:43] jdinhify commented on #48
Hey @vrms

Thank you for using the theme.

We're not gonna look into using different background color for the terminal at this stage. I think one of the goals when I started this was to provide a seamless look to the whole editor.

If you want to have a different background color for the terminal, you can edit your user settings and put in a different background. For instance if you want a darker

[2022-05-31 23:46] jdinhify commented on #50
Hey @mfeif

Thank you for reporting.
I've been using vscode daily and haven't noticed anything like this. Are you still getting the issue?

[2022-06-01 03:43] mfeif commented on #50
I had uninstalled it back then... I reinstalled it just now, and no, it doesn't seem to cause the same effect.

[2022-06-01 03:43] #50 closed

[2022-06-01 06:14] jdinhify commented on #7
Closing this as there's no config option & it's not ideal to duplicate variants further

[2022-06-01 06:14] #7 closed

[2022-07-19 16:17] Savage1969 opened #61 "go language full support - enhancement req"
If someone is up for it, it would be fantastic if the complete go language syntax was fully supported as it's currently missing quite a bit. including consistent variable and function coloring. Thank you in advance for your consideration.

[2022-07-23 18:02] ap32 opened #62 "Typescript bad highlighting with `typeof x extends...`"
![Screenshot](https://user-images.githubusercontent.com/12585904/180617357-1a418817-6f84-4c4b-af04-690799815446.png)

[code]

It can be slightly worse, i got this:
![Screenshot_20220723_210627](https://user-images.githubusercontent.com/12585904/180617583-04d0b84a-2e5a-46a8-8318-01f8bc4a750f.png)

[2022-07-23 18:55] ap32 commented on #62
Right now I believe the problem is not with the theme, but with the incorrectly provided scope. Please close the issue if so. Might be worth creating an issue in the vscode repository.

[2022-07-26 14:53] #62 closed

[2022-07-31 15:52] antony-frolov opened #63 "Not consistent color"
If you look close enough you can see a slight difference in color between the terminal window and the main editor. Other themes work fine though.
![Screenshot 2022-07-31 at 18 50 02](https://user-images.githubusercontent.com/69483357/182034557-37089713-adaf-4781-8655-77f475cb9550.jpg)

[2022-08-01 13:00] ruthus18 opened #64 "Python match/case syntax highlight is not supporting"
Hello! First of all, thank you for this pretty theme, love using it.

I have faced with problem that match/case syntax, which was added in Python 3.10, not supporting by theme. If you switch to default theme, everything is OK, so I think the problem is not in IntelliSense, but in tokenization something inside the gruvbox theme.

![Screenshot 2022-08-01 at 17 58 54](https://user-images.githubuserco

[2022-08-26 10:37] themysteryboy opened #66 "Want a nvim version of this theme"

[2022-09-07 08:49] FR0ST1N commented on #66
@themysteryboy nvim port already exist.
https://github.com/ellisonleao/gruvbox.nvim

[2022-09-13 00:56] jdinhify commented on #64
@ruthus18 would you be able to provide a full snippet to be used for investigating this?

[2022-09-13 01:11] jdinhify commented on #61
Thanks @Savage1969

It would be great if you could provide some golang snippets & what you think is missing/inconsistent

[2022-09-13 08:15] antony-frolov commented on #63
I guess that was some temporary bug, can't reproduce the issue now.

[2022-09-13 08:15] #63 closed

[2022-09-27 03:53] AbelChe opened #67 "Python, a bug when using "type hints""
When using "type hints",subsequent code colors do not display properly
<img width="449" alt="image" src="https://user-images.githubusercontent.com/40518242/192428023-4389db14-53fb-4261-bbc1-875745bab7d2.png">

[2022-09-27 04:00] AbelChe commented on #67
Oh, sorry
It looks like a problem of vscode

[2022-11-12 23:37] psidex commented on #61
Hey @jdinhify, the main thing that annoys me is that function calls aren't highlighted:

<details><summary>Code</summary>
<p>

[code]

</p>
</details>

Default color scheme:
![image](https://user-images.githubusercontent.com/14183909/201498670-79333320-1db2-4782-99e9-3a9ae42ef2d4.png)

Gruvbox Dark Medium:
![image](https://user-images.githubusercontent.com/14183909/201498675-afa781d8-2b0a-4f2f-b75

[2022-11-22 08:03] wchresta opened #68 "Inlay hints show odd colour"
In rust, some extensions like `rust-analyzer` make significant use of the inlay-hints feature of vscode.

Apparently, vscode-theme-gruvbox does not correctly theme these and they appear with a magenta background:

![screnshot](https://i.imgur.com/tBF8IzX.png)

See also https://www.reddit.com/r/rust/comments/uki3xp/changing_inlay_hint_color_in_vscode/

I would expect the inlay hints to be less intr

[2022-11-22 14:35] scrabsha opened #69 "Syntax highlighting in documentation"
Hello,

It turns out that all the versions of the gruvbox theme distributed in this package don't support syntax highlighting in doctests. Could this be fixed?

Here's an example from the codebase I'm working on (gruvbox light theme):
![image](https://user-images.githubusercontent.com/25402018/203331978-ea1fec06-24c7-4979-bca8-aeeb6216eba2.png)

Here's the highlighting I get if I switch to monokai